.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**************************************************************
                login start here
**************************************************************/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}
.registercard{
  height: 570px;
  /* margin-top: auto; */
  margin-top: 5%;
  margin-bottom: auto;
  width: 500px;
  background-color: rgba(0,0,0,0.5) !important;
  }

.card{
height: 500px;
/* margin-top: auto; */
margin-top: 10%;
margin-bottom: auto;
width: 500px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-right: 10%;
color: #161614;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 10px;
top: -55px;
}

/* .input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
} */

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: black;
background-color: #28c516;
/* width: 80px; */
}

.login_btn:hover{
color: black;
background-color: rgb(176, 235, 13);
}


.links{
color: white;
}

.links a{
margin-left: 4px;
}

/**************************************************************
                login end here
**************************************************************/


/**************************************************************
                # intro section start here
**************************************************************/

  #intro {
    width: 100%;
    height: 100vh;
    background: url(./components/Images/intro-bg.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }

  @media (min-width: 1024px) {
    #intro {
      background-attachment: fixed;
    }
  }

  #intro:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }

  @media (max-width: 991px) {
    #intro .intro-container {
      top: 70px;
    }
  }

  #intro h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
  }

  #intro h1 span {
    color: #f82249;
  }

  @media (max-width: 991px) {
    #intro h1 {
      font-size: 34px;
    }
  }

  #intro p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
  }

  @media (max-width: 991px) {
    #intro p {
      font-size: 16px;
    }
  }

  #intro .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
  }

  #intro .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  #intro .play-btn:before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgba(163, 163, 163, 0.4);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }

  #intro .play-btn:hover::after {
    border-left: 15px solid #f82249;
    transform: scale(20);
  }

  #intro .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }

  #intro .about-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
  }

  #intro .about-btn:hover {
    background: #f82249;
    color: #fff;
  }

  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }

  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }

/**************************************************************
                intro end here
**************************************************************/

/**************************************************************
                # About Section start here
**************************************************************/

  #about {
    background: url("./components/Images/about-bg.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
  }

  @media (min-width: 1024px) {
    #about {
      background-attachment: fixed;
    }
  }

  #about:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #about h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }

  #about h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
  }

  #about p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #fff;
  }



/**************************************************************
                # About Section end here
**************************************************************/


/**************************************************************
                # Sponsers Section  starts here
**************************************************************/


#sponsers{
  margin: 34px;
  display: flex;
}
#sponsers .box{
  border: 2px solid brown;
  padding: 34px;
  margin: 2px 20px;
  border-radius: 28px;
  background: #f2f2f2;
  margin-bottom: 20px;
}

#sponsers .box img{
  height: 80px;
  margin: auto;
  display: block;
}

#sponsers .box p{
  font-family: 'Bree Serif', serif;

}


/**************************************************************
                sponsers Section end here
**************************************************************/
#transZ>
img:hover {
    transform: perspective(100px) translateZ(5px);
  }


/**************************************************************
                Clients Section start here
**************************************************************/

#client-section{
  /* background: url("./components/Images/bg.jpg"); */
  position: relative;
}

#client-section::before{
content: "";
position: absolute;

width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
}

#clients{
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item{
  padding: 34px;
}

#clients img{
  height: 200px;
  width: 200px;
  margin: 10px;
}

#form-box{
  text-align: center;
  justify-content: center;
}

  /*--------------------------------------------------------------
  # client Section
  --------------------------------------------------------------*/
  #client {
    padding: 60px;
    overflow: hidden;
  }

  #client .owl-nav, #client .owl-dots {
    margin-top: 25px;
    text-align: center;
  }

  #client .owl-item {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }

  #client .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }

  #client .owl-dot.active {
    background-color: #f82249;
  }

  #client .client-carousel .owl-stage-outer {
    overflow: visible;
  }

  #client .client-carousel .center {
    border: 6px solid #f82249;
    margin: -10px;
    box-sizing: content-box;
    padding: 4px;
    background: #fff;
    z-index: 1;
  }



/**************************************************************
                client end here
**************************************************************/


/**************************************************************
                section header start here
**************************************************************/
  .section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
  }

  .section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 25px);
  }

  .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
  }

  .section-with-bg {
    background-color: #f6f7fd;
  }
/**************************************************************
                section header end here
**************************************************************/


/**************************************************************
                footer start here
**************************************************************/
#footer {
  background: #101522;
  padding: 0 0 25px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #040919;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
}

#footer .footer-top .footer-info img {
  height: 40px;
  margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #222636;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #f82249;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 2px solid #f82249;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: #f82249;
  font-size: 18px;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #262c44;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #f82249;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #f82249;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #e0072f;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}


/**************************************************************
                footer end here
**************************************************************/
